#navigation {
    padding-top: 20px;
}

.navbar {
    background-color: #2A2A2A;
}

#title {
    color: white;
}

#submit-button {
    margin-left: 40px;
}

a {
    color: blue;
}

.row-fluid {
    padding-top: 50px;
}
